@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300&display=swap');

.accountPage {
  background-color: rgba(0,0,0,0.5);
  
}
.accountContainer {
  padding: 10px 0;
  width: 80%;
  margin: auto;
  font-size: 20px;
  text-align: center;
}

.topButtons {
  display: flex;
  justify-content: flex-end;
  margin-right: 10%;
}

.accountName {
  margin-left: 10%;
  color: #ffffffc5;
  font-size: 30px;
  font-family: 'Inknut Antiqua';
}

#accountList:hover {
  color: #940303;
  cursor: pointer;
}


