@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap');

@import'Helper';

.inventory-wrapper {
  justify-content: center;
}

.character-container {
  color: $white;
  min-height: 90vh;
  background-color: #1b1818;
  border-radius: 10px;
  margin-bottom: 10px;
}
.char {
  background-color: $black-transparent!important;
}

.char-title {
  border-bottom: 2px solid $yellow;
  font-family: $title-font;
}

.accountLink {
  color: $lightyellow;
}
.accountLink:hover {
  color: $lightyellow;
}

@media only screen and (max-width: 600px) { 
  .character-name {
    font-size: 21px;
  }
}