@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap');

body {
  
  background-image: url('../images/bg-red.jpg');
  font-family: 'Noto Sans KR', sans-serif;
  .character-container {
    color: white;
    min-height: 90vh;
    background-color: #1b1818;
  }
}
.char {
  background-color: rgba(0,0,0,0.5)!important;
}

.char-title {
  border-bottom: 2px solid #b78846;
}

