@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap');

@import'Helper';

body {
  
  background-image: url('../images/bg-red.jpg');
  font-family: 'Noto Sans KR', sans-serif;
}

.character-container {
  color: $white;
  min-height: 90vh;
  background-color: #1b1818;
}
.char {
  background-color: $black-transparent!important;
}

.char-title {
  border-bottom: 2px solid $yellow;
  font-family: $title-font;
}

.like-button:hover {
  color:rgb(252, 149, 149);
}

.liked {
  color: red;
  
}

  