@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300&display=swap');
@import'Helper';

.favourites-container {
  color: $white;
  padding: 30px;
  text-align: center;
  font-size: 20px;
}

.no-favourites {
  font-size: 40px;
  font-family: 'Inknut Antiqua';
  color: $white;
}
.favourite-title {
  font-size: 50px;
  font-family: 'Inknut Antiqua';
  margin-bottom: 20px;
  border-bottom: 2px solid $yellow;
}

.remove-alert {
  margin-left: 35%;
  width: 300px;
}
#favouriteTable {
  border: 2px solid $yellow;
  color: $white;
}

#favouriteList:hover {
  color: $red;
  cursor: pointer;
}