@import'Helper';

.trash a {
  color: $white;
  &:hover {
    color: rgb(177, 58, 58);
  }
}

button {
  color: $white!important;
  background-image: url('../images/rock.png')!important;
  background-color: unset!important;
  border: 0px!important;
}

#deleted {
  animation-name: delete;
  animation-duration: 2s;
  opacity: 1;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  background-color: rgb(177, 58, 58);
}

@keyframes delete {
  0% {opacity: 1; background-color: rgb(177, 58, 58);}
  100% {opacity: 0}
}
