@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300&display=swap');

.favourites-container {
  width: 95%;
  background-color:rgba(0,0,0,0.5);
  color: #ffffffc5;
  padding: 30px;
  text-align: center;
}

.no-favourites {
  font-size: 2.2em;
  font-family: 'Inknut Antiqua';
}
.favourite-title {
  font-size: 2.2em;
  font-family: 'Inknut Antiqua';
  margin-bottom: 20px;
}

.remove-alert {
  margin-left: 35%;
  width: 300px;
}