@import "~bootstrap/scss/bootstrap";
@import'Helper';

.favouritePage {
  background-color: $black-transparent;
}
.noFavouritePage {
  background-color: $black-transparent;
  width: 80%;
  margin: auto;
}
.favourites-container {
  padding: 10px 0;
  width: 80%;
  margin: auto;
  font-size: 20px;
  text-align: center;
}

.no-favourites {
  font-size: 40px;
  font-family: $title-font;
  color: $white;
}
.favourite-title {
  font-family: $title-font;
  text-align: center;
  font-size: 50px;
  color:  $white;
  border-bottom: 2px solid $yellow;
  margin-bottom: 10px;
}
#favouriteTable {
  background-color: rgba(0, 0, 0, 0.85)!important;
}
.remove-alert {
  margin-left: 35%;
  width: 300px;
}
#favouriteTable {
  border: 2px solid $yellow;
  color: $white;
  & tbody > tr > td {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  & tbody > tr:hover {
    color: $lightyellow;
  }

  
}

#favouriteList:hover {

  cursor: pointer;
}


@media only screen and (max-width: 1024px) {
  .container {
    max-width: 2000px!important;
    padding: unset!important;
  }

  .favourites-container {
    width: 100%;
    font-size: 15px;
  }
  table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */

	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
}