@import "~bootstrap/scss/bootstrap";
@import'Helper';

.filterContainer {
  display: flex;
  background-color: #343a40;
  color: $white;
}

.accordianContainer {
  margin-left: 10%;
  margin-top: 10px;
  width: 200px;
}

#bootstrap {
  background-color: unset!important;
  border: 0px!important;
  background-image: url('../images/rock.png');
  color: $white;
}

#bootstrap:focus {
  outline: none!important;
  box-shadow: none!important;
}

#cardBody {
  background-color: #343a40;
  padding: 1px 10px
}

.filterTitle {
  margin-bottom: 5px;
}

.card {
  background-color: black!important;
}

@media only screen and (max-width: 1024px) {
  .accordianContainer {
    margin-left: 1%;
  }
}