@import "~bootstrap/scss/bootstrap";

.filterContainer {
  display: flex;
  background-color: #343a40;
  color: #ffffffc5;
}

.accordianContainer {
  margin-left: 10%;
  width: 20%;
}

button {
  background-image: url('../images/rock.png');
  color: #ffffffc5;
}

#cardBody {
  background-color: #343a40;
  padding: 1px 10px
}

.filterTitle {
  margin-bottom: 5px;
}