@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300&display=swap');
$white: #d3d3d3;
$lightyellow: #FFCB9A;
$yellow: #D9B08C;
$black-transparent: rgba(0,0,0,0.5);
$title-font: 'Inknut Antiqua';