@import "Mixins";

.inventory-container {
  background-color: rgba(0, 0, 0, 0.3);
  height: 500px;
  width: 500px;
  border: 2px solid #b78846;
  position: relative;
  &:after {
    @include inventory-corner;
    clip-path: polygon(
      0 0,
      100% 0,
      80% 11%,
      60% 38%,
      36% 60%,
      28% 62%,
      25% 70%,
      0 100%
    );
  }
  &:before {
    @include inventory-corner;
    clip-path: polygon(
      0 0,
      100% 0,
      100% 100%,
      72% 72%,
      56% 57%,
      39% 33%,
      25% 25%,
      14% 21%
    );
  }

  span {
    &:after {
      @include inventory-corner;
      clip-path: polygon(53% 56%, 48% 49%, 100% 0, 100% 100%, 0 100%, 40% 57%);
    }
    &:before {
      @include inventory-corner;
      clip-path: polygon(
        0 0,
        24% 25%,
        43% 49%,
        59% 66%,
        71% 81%,
        100% 100%,
        0 100%
      );
    }
  }
}

@media only screen and (max-width: 600px) {
  .inventory-container {
    height: 300px;
    width: 300px;
  }
}
