@import "~bootstrap/scss/bootstrap";

.icon {
  height: 100%;
  width: 100%;
}

.item {
  position: absolute;
  border: 1px solid rgba(0,0,0,0.7);
  border-radius: 5px;
  max-width: 100px;
  background-color: rgba(0,0,0,0.5);
  transition: transform 0.2s;
  
}

.unique {
  box-shadow: 1px 5px 13px 7px rgba(0,0,0,0.3)
}
.unique:hover {
  box-shadow: 0 1px 1px rgba(250,108,51,0.12), 
            0 2px 2px rgba(250,108,51,0.12),
            0 4px 4px rgba(250,108,51,0.12),
            0 8px 8px rgba(250,108,51,0.12),
            0 16px 16px rgba(250,108,51,0.40);
            z-index: 100;
}

.rare {
  box-shadow: 1px 5px 13px 7px rgba(0,0,0,0.3)
}
.rare:hover {
  box-shadow: 0 1px 1px rgba(255, 240, 105,0.12),
            0 2px 2px rgba(255, 240, 105,0.12),
            0 4px 4px rgba(255, 240, 105,0.12),
            0 8px 8px rgba(255, 240, 105,0.12),
            0 16px 16px rgba(255, 240, 105,0.40);
            z-index: 100;
}

.magic {
  box-shadow: 1px 5px 13px 7px rgba(0,0,0,0.3)
}
.magic:hover {
  box-shadow: 0 1px 1px rgba(127,127,238,0.12),
            0 2px 2px rgba(127,127,238,0.12),
            0 4px 4px rgba(127,127,238,0.12),
            0 8px 8px rgba(127,127,238,0.12),
            0 16px 16px rgba(127,127,238,0.40);
            z-index: 100;
}

.item:hover {
  transform: scale(1.1);
  
}

.item-title {
  text-align: center;
}

.helm {
  @extend .item;
  left: 40%;
  top: 5%;
  max-width: 100px;
}

.armour {
  @extend .item; 
  left: 40%;
  top: 40%;
  
}

.gloves {
  @extend .item; 
  left: 15%;
  top: 75%;
} 

.ring {
  @extend .item; 
  max-width: 50px;
  left: 25%;
  top: 60%;
  
}
.ring2 {
  @extend .item; 
  @extend .ring; 
  left: 65%;
}

.boots {
  @extend .item; 
  left: 65%;
  top: 75%;
}

.offhand {
  @extend .item; 
  left: 75%;
  top: 25%;
}



.amulet {
  @extend .item; 
  left: 45%;
  top: 27%;
}

.belt {
  @extend .item; 
  left: 40%;
  top: 75%;
}
.weapon {
  @extend .item; 
  left: 5%;
  top: 25%;
}

.hidden {
  display: none;
}

.prop-text {
  margin: 3px;
}
.implicit-mod {
  @extend .prop-text;
  color: #7c90df;
  
}
.explicit-mod {
  @extend .prop-text;
  color: #ca6060;
}

.property {
  @extend .prop-text;
  color: #a5a5a5;
  .simple {
    color: white
  }
  .augmented {
    color:rgb(127,127,238)
  }
}

.requirement {
  @extend .prop-text;
  color: #a5a5a5;
  .simple {
    color: white
  }
}

.item-pills {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.item-separator {
  border-bottom: 1px solid rgb(97, 97, 97);
  margin: 3px;
}

#unique {
 .popover-header {
  background: rgb(12,12,14);
  background: linear-gradient(0deg,  rgb(75, 27, 8)  0%, rgba(250,108,51,1) 48%, rgb(75, 27, 8) 100%);
  
   border: 2px solid rgb(180, 72, 0);
   color: #591111
 }
}

#rare {
  .popover-header {
   background: rgb(12,12,14);
   background: linear-gradient(0deg, rgb(88, 75, 45) 0%, rgb(255, 240, 105) 48%, rgb(88, 75, 45) 100%);
   
    border: 2px solid rgb(88, 75, 45);
    color:rgb(88, 75, 45)
  }
 }

 #magic {
  .popover-header {
   background: rgb(12,12,14);
   background: linear-gradient(0deg, rgb(24, 32, 58) 0%, rgb(127,127,238) 48%, rgb(24, 32, 58) 100%);
   
    border: 2px solid rgb(88, 75, 45);
    color:rgb(240, 240, 255)
  }
 }
.popover-body {
  background: rgba(0,0,0, .8)
 }

