.inventory-container {
  // background-image: url('../images/trak_floor_gray.jpg');
  background-color: rgba(0,0,0,0.3);
  height: 500px;
  width: 500px;
  border: 2px solid #b78846;
  position: relative;
  &:after {
    content: "";
    position:absolute;
    margin:-3px;
    width:50px;
    height:50px;
    line-height: 25px;
    background-color:  black;
    text-align: center;
    color: #b78846;
    border: 2px solid #b78846;
    // clip-path: polygon(50% 0%, 100% 0, 84% 2%, 46% 8%, 23% 5%, 10% 15%, 0 37%, 5% 76%, 0 100%, 0 0);
    // clip-path: polygon(56% 0, 81% 0, 0 84%, 0 55%);
    // clip-path: polygon(0 26%, 0 0, 35% 0%, 65% 0%, 65% 25%, 90% 25%, 90% 50%, 65% 50%, 65% 100%, 34% 54%, 1% 53%, 0 48%);
    // clip-path: polygon(100% 0, 69% 33%, 38% 32%, 33% 35%, 36% 67%, 0 100%, 0 0);
  //  clip-path: polygon(0 0, 100% 0, 54% 28%, 27% 29%, 27% 57%, 0 100%);

  clip-path: polygon(0 0, 100% 0, 80% 11%, 60% 38%, 36% 60%, 28% 62%, 25% 70%, 0 100%);
  background-image: url('../images/mtl_O_s.png');
      background-size: contain;
  }
  &:before {
    content: "";
    position:absolute;
    right: 0;
    margin: -3px;
    width:50px;
    height:50px;
    line-height: 25px;
    background-color:  black;
    text-align: center;
    color: #b78846;
    border: 2px solid #b78846;
    // clip-path: polygon(50% 0%, 100% 0, 84% 2%, 46% 8%, 23% 5%, 10% 15%, 0 37%, 5% 76%, 0 100%, 0 0);
    // clip-path: polygon(56% 0, 81% 0, 0 84%, 0 55%);
    // clip-path: polygon(0 26%, 0 0, 35% 0%, 65% 0%, 65% 25%, 90% 25%, 90% 50%, 65% 50%, 65% 100%, 34% 54%, 1% 53%, 0 48%);
    // clip-path: polygon(100% 0, 69% 33%, 38% 32%, 33% 35%, 36% 67%, 0 100%, 0 0);
  //  clip-path: polygon(0 0, 100% 0, 54% 28%, 27% 29%, 27% 57%, 0 100%);

  clip-path: polygon(0 0, 100% 0, 100% 100%, 72% 72%, 56% 57%, 39% 33%, 25% 25%, 14% 21%);
  background-image: url('../images/mtl_O_s.png');
      background-size: contain;
  }

  
  span {
    &:after {
      content: "";
      position:absolute;
      right: 0;
      bottom: 0;
      margin:-4px;
      width:40px;
      height:40px;
      background-image: url('../images/mtl_O_s.png');
      background-size: contain;
      background-color: black;
      clip-path: polygon(53% 56%, 48% 49%, 100% 0, 100% 100%, 0 100%, 40% 57%);
      border: 2px solid #b78846;
    }
    &:before   {
      content: "";
      position:absolute;
      left: 0;
      bottom: 0;
      margin:-3px;
      width:40px;
      height:40px;
      background-color:#000; /* to see where it is */
      clip-path: polygon(0 0, 24% 25%, 43% 49%, 59% 66%, 71% 81%, 100% 100%, 0 100%);
      border: 2px solid #b78846;
      background-image: url('../images/mtl_O_s.png');
      background-size: contain;
    }
  }
}

@media only screen and (max-width: 600px) {
  .inventory-container {
    height: 300px;
    width: 300px;
  }
}



