@import "~bootstrap/scss/bootstrap";

.ladderPage {
  background-color: #5e5e5e
}
.ladderContainer {
  padding: 10px 0;
  width: 80%;
  margin: auto;
  font-size: 20px;
  text-align: center;
}

.ladderTitle {
  font-size: 50px;
  text-align: center;
}

#ladderList:hover {
  color: #940303;
  
}