@import "~bootstrap/scss/bootstrap";
@import'Helper';

.ladderPage {
  background-color: $black-transparent;
  overflow-anchor: none;
  margin: 1em;
}

.ladderContainer {
  padding: 10px 0;
  width: 80%;
  margin: auto;
  font-size: 20px;
  text-align: center;
}

.ladderTitle {
  font-family: $title-font;
  text-align: center;
  font-size: 50px;
  color:  $white;
  border-bottom: 2px solid $yellow;
  margin-bottom: 10px;
}

#topButtons {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 80%;
  min-height: 30px;
}

#ladderList:hover {
  color: $red;
  cursor: pointer;
}



img {
  height: 60px;
}
th {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle!important;
}
#ladderTable {
  border: 2px solid $yellow;
  color: $white;
}

.loadMore {
  margin-bottom: 20px;
  margin-left: 43%;
  font-size: 25px;
}

@media only screen and (max-width: 1200px) {
  .container {
    max-width: 2000px!important;
    padding: unset!important;
  }

  .ladderContainer {
    width: 100%;
  }
  #topButtons {
    width: 100%;
  }
  table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */

	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}

}
@media only screen and (max-width: 768px) { 
  .container {
    max-width: 2000px!important;
    padding: unset!important;
  }

  .ladderContainer {
    width: 100%;
  }
  #topButtons {
    width: 100%;
  }
  table, thead, tbody, th, td, tr { 
		display: block; 
	}
}
@media only screen and (max-width: 480px) { 
.ladderPage {
  margin: 0;
}
.ladder-entry-small {
  display: flex;
  flex-direction: row;
  padding: 0.3em;
}
.ladder-entry-small-inner {
  display: flex;
  flex-direction: column;
  margin-left: 0.5em;
  & > div {
    text-align: left;
  }
}

.ladder-buttons-small {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: flex-start;
}
  & div {
    padding-top: 0.2em;
  }
}