@import "~bootstrap/scss/bootstrap";

.ladderPage {
  background-color: rgba(0,0,0,0.5);
  
}
.ladderContainer {
  padding: 10px 0;
  width: 80%;
  margin: auto;
  font-size: 20px;
  text-align: center;
}

.ladderTitle {
  font-size: 50px;
  text-align: center;
  color:  #ffffff;
}

.topButtons {
  display: flex;
  justify-content: flex-end;
  margin-right: 10%;
}

#ladderList:hover {
  color: #940303;
  cursor: pointer;
}

#ladderButton {
  margin-left: 10%;
  background-image: url('../images/rock.png');
  color: #ffffffc5;
  border: 1px solid black!important;
  border-radius: 3px;
}
#ladderButton:focus {
  outline: none;
  box-shadow: none;
}

img {
  height: 60px;
}

td {
  padding-top: 50px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.loadMore {
  margin-bottom: 20px;
  margin-left: 43%;
  font-size: 25px;
}
