@import'Helper';

.like-button:hover {
  color:rgb(252, 149, 149);
  cursor: pointer;
}

.liked {
  color: red;
  animation-name: like;
  animation-duration: 0.7s;
  opacity: 1;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes like {
  0% {transform: scale(1.0)}
  25% {transform: scale(1.2)}
  50% {transform: scale(1.0)}
  75% {transform: scale(1.2)}
  100% {transform: scale(1.0)}
}

.unliked {
  color: red;
  animation-name: unlike;
  animation-duration: 0.7s;
  opacity: 1;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  &:hover {
    color: white;
  }
}

@keyframes unlike {
  0% {transform: scale(1.0)}
  25% {color: gray; transform: scale(0.9)}
  50% {color: gray; transform: scale(0.8)}
  100% {color: gray; transform: scale(0.8)}
}