@import 'Helper';

body {
  background-color: #5e5e5e;
  #container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    background-color: $black-transparent;
    border-radius: 10px;
  }
}
