@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300&display=swap');
@import'Helper';

.logout-container {
  width: 1000px;
  background-color:rgba(0,0,0,0.5);
  color: $white;
  padding: 30px;
  text-align: center;
  font-size: 2.2em;
  font-family: 'Inknut Antiqua';
}
