@import'Helper';

.logout-container {
  width: 1000px;
  background-color: $black-transparent;
  color: $white;
  padding: 30px;
  text-align: center;
  font-size: 2.2em;
  font-family: $title-font;
}
