@mixin button {
  background-color: #343a40;
    color: $white;
    border: 1px solid rgb(78, 78, 78);
    border-radius: 0.1em;
    font-size: 1.3em;
    padding: 0.2em;
    min-width: 200px;
    &:focus {
      outline: none;
    }
    &:hover {
      border: 1px solid $yellow;
      background-color: #343a40!important;
    }
}

@mixin inventory-corner {
  content: "";
    position: absolute;
    margin: -3px;
    width: 50px;
    height: 50px;
    line-height: 25px;
    background-color: black;
    text-align: center;
    color: #b78846;
    border: 2px solid #b78846;
    background-image: url("../images/mtl_O_s.png");
    background-size: contain;
}