@import "~bootstrap/scss/bootstrap";
@import'Helper';

#login-form {
  position: absolute;
}

.dropdown-menu  { 
  width: 400px; 
}

#nav-logo {
  font-family: $title-font;
  font-size: 2.1em;
  text-transform: unset;
  color: $white;
}

.nav-link {
  font-family: $title-font!important;
}


a.mx-3.my-2.nav-link:active {
  box-shadow: none;
}