@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300&display=swap');
#login-form {
  position: absolute;
}

.dropdown-menu  { 
  width: 400px; 
}

#nav-logo {
  font-family: 'Inknut Antiqua';
  font-size: 2.1em;
  text-transform: unset;
  color: #ffffffc5;
}

.nav-link {
  font-family: 'Inknut Antiqua'!important;
}

a.mx-3.my-2.nav-link:active {
  box-shadow: none;
}