@import "~bootstrap/scss/bootstrap";


.login-container {
  width: 1000px;
  background-color:rgba(0,0,0,0.5);
  color: #ffffffc5;
  padding: 30px;
}
.login-form-container {
  width: 75%;
  margin-top: 10px;
}