@import "~bootstrap/scss/bootstrap";
@import'Helper';
@import 'Mixins';

.login-container {
  margin: auto;
  width: 500px;
  background-color: $black-transparent;
  color: $white;
  padding: 30px;
  margin-top: 200px;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  button {
    @include button;
   
  }
}
.button-container {
  width: 100%;
  margin-top: 1.5em;
  div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto!important;

  }

}
.login-form-container {
  width: 75%;
  margin-top: 10px;
}
.registerTitle {
  font-family: $title-font;
  text-align: center;
  font-size: 40px;
}

#loginButton {
  background-color: #343a40;
  color: $white;
  border: 1px solid rgb(78, 78, 78);
  border-radius: 0.1em;
  font-size: 1em;
  &:focus {
    outline: none;
  }
  &:hover {
    border: 1px solid $yellow;
  }
}

#registerButton {
  background-color: #343a40;
  color: $white;
  border: 1px solid rgb(78, 78, 78);
  border-radius: 0.1em;
  font-size: 1em;
  &:focus {
    outline: none;
  }
  &:hover {
    border: 1px solid $yellow;
  }
}