@import "~bootstrap/scss/bootstrap";
@import'Helper';

.login-container {
  margin: auto;
  width: 500px;
  background-color: $black-transparent;
  color: $white;
  padding: 30px;
  margin-top: 200px;
}
.login-form-container {
  width: 75%;
  margin-top: 10px;
}
.registerTitle {
  font-family: $title-font;
  text-align: center;
  font-size: 40px;
}

