@import'Helper';

#search-results {
  position: absolute;
  background-color: white;
  width: 95%;
  max-height: 300px;
  overflow-y: scroll;
  .hidden {
    display: none;
  }
}

#search-bar {
  width: 35vw;
  margin: auto;
}

#selected {
  background-color: $lightyellow;
}

@media only screen and (max-width: 1024px) {
  #search-bar {
    width: 90%;
  }
}

@media only screen and (max-width: 768px) {
  #search-bar {
    width: 90%;
    margin-left: 5%;
  }
}

@media only screen and (min-width: 1024px) {
  #search-results-container {
    position: absolute;
    left: 0;
    width: 100%;
    #search-results {
      position: unset;
      background-color: white;
      width: 35vw;
      margin: auto;
      
    }
  }
}