@import'Helper';

#search-results {
  position: absolute;
  background-color: white;
  width: 35vw;
  max-height: 300px;
  overflow-y: scroll;
  .hidden {
    display: none;
  }
}

#search-bar {
  width: 35vw;
}

#selected {
  background-color: $yellow;
}

@media only screen and (max-width: 1024px) {
  #search-bar {
    width: 25vw;
  }
}

@media only screen and (max-width: 768px) {
  #search-bar {
    width: 90%;
    margin-left: 5%;
  }
}