@import "~bootstrap/scss/bootstrap";
@import "Helper";

.gem {
  border: 1px solid rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  max-width: 50px;
  background-color: $black-transparent;
}

.activeGem {
  @extend .gem;
}
.support {
  @extend .gem;
  border-radius: 50%;
}
