@import "~bootstrap/scss/bootstrap";
@import'Helper';

.skill-group {
  display: grid;
  grid-template-columns: [start] 1fr [middle] 5fr [end];
  grid-auto-rows: 1fr;
  grid-auto-flow: row;
}

.skills-container {
  min-width: 270px;
}

.gemGroup {
  display: flex;
  justify-content: center;
  font-size: large;
  font-family: $title-font;
}

.links {
  grid-column: 1;
}

.span1 {
  grid-row: span 1;
  background-image: url('../images/links/LINK_1_F.png');
  background-size: 100%;
  background-repeat: no-repeat;
}
.span2 {
  grid-row: span 2;
  background-image: url('../images/links/LINK_2_F.png');
  background-size: 100% 220%;
  background-repeat: no-repeat;
  background-position-y: 55%;
}
.span3 {
  grid-row: span 3;
  background-image: url('../images/links/LINK_3_F.png');
  background-size: 100% 145%;
  background-repeat: no-repeat;
  background-position-y: 60%;
}
.span4 {
  grid-row: span 4;
  background-image: url('../images/links/LINK_4_F.png');
  background-size: 100% 170%;
  background-repeat: no-repeat;
  background-position-y: 55%;
}
.span5 {
  grid-row: span 5;
  background-image: url('../images/links/LINK_5_F.png');
  background-size: 100% 120%;
  background-repeat: no-repeat;
  background-position-y: 70%;
}
.span6 {
  grid-row: span 6;
  background-image: url('../images/links/LINK_6_F.png');
  background-size: 100% 125%;
  background-repeat: no-repeat;
  background-position-y: 60%;
}

.empty {
  display: flex;
  align-items: center;
}

.socketColourR {
  width: 45px;
  height: 45px;
  background-image: url('../images/socket.png');
  background-repeat:no-repeat;
  background-position: 0px -135px;
  background-size: 200px 200px;
}

.socketColourG {
  width: 45px;
  height: 45px;
  background-image: url('../images/socket.png');
  background-repeat:no-repeat;
  background-position: -135px -93px;
  background-size: 200px 200px;
}

.socketColourB {
  width: 50px;
  height: 50px;
  background-image: url('../images/socket.png');
  background-repeat:no-repeat;
  background-size: 200px 200px;
}

.socketColourW {
  width: 45px;
  height: 45px;
  background-image: url('../images/socket.png');
  background-repeat:no-repeat;
  background-position: -45px -135px;
  background-size: 200px 200px;
}


// .skill-container {
  
// }

.gemRow {
  min-height: 6em;
}

.gemName {
  font-size: large;
}

.gemStats {
  font-size: small;
}

.line {
  border-top: 1px solid gray;
}